@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
*{
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;;
}
header{
    background-color: #f58e49;
    height: 400px;
}
.navBar{
    display:flex;
    margin-bottom: 8%;
}
.navBarLinkParent{
    display: flex;
    margin-left: 5%;
    width: 100%;
    height: 20%;
    margin-top:2%
}
.navBarButtonParent{
    display:flex;
    margin-left: 10%;
    width: 70%;
    margin-top: 1%
}
.navBarLink{
    margin-left: 10%;
    color:white;
}
.buttonFreeTry{
    background-color: #082134;
    color: white;
    margin-left: 10%;
    border-radius: 10px;
    font-size: 12px;
    border-color: #082132;
    border-style:solid;
    width: 40%;
    font-weight: bold;
    border-width: 3px;
}
.buttonFreeTry:hover{
    background-color: white;
    color:#082132;
    border-color: #f58e49;
}
.buttonLogin{
    background-color: #f58e49;
    margin-left: 3%;
    font-size: 12px;
    width: 30%;
    color: white;
    border-style:solid;
    border-radius:10px;
    border-width: 3px;
    font-weight: bold;
}
.buttonLogin:hover{
    background-color: white;
    color:#f58e49;
    border-color:#f58e49;
}
.navBarLogo{
    width: 30%;
    margin-left: 10%;
}

.pageTitle{
    text-align: center;
    font-size: 60px;
    color:white;
    margin-bottom: 1%;
    font-weight: bold;
}
.pageDescription{
    text-align: center;
}
.bodyPage{
    display: flex;
    margin-bottom: 20%;
}
.sectionLeft{
    margin-left: 10%;
    margin-top: 5%;
}
.articleLeftTitle{
    font-size: 30px;
    color: #5fafd4;
    font-weight: bold;
}
.articleLeftDescription{
    margin-top: 2%;
    line-height: 25px;
    color:#595959;
}
.input{
    margin-top:5%;
    width: 103%;
    height: 10%;
    border-radius: 5px;
    border-style:solid;
    font-style: italic;
}

.submit{
    margin-top: 5%;
    margin-left: 74.4%;
    width: 30%;
    height: 13%;
    background-color: #f58e49;
    color:white;
    border-style:solid;
    border-radius:10px;
    border-color:#f58e49;
    font-weight: bold;
}
.submit:hover{
    background-color:white;
    color:#f58e49;
}
.sectionRight{
    margin-left: 5%;
    margin-top: 5%;
    width: 40%;
}
.asideTitle{
    font-size: 30px;
    color: #5fafd4;
    font-weight: bold;
}
.asideDescription{
    margin-top:2%;
    line-height: 25px;
    color:#595959;
}
.socialNetworkTitle{
    margin-top:5%;
    font-size: 25px;
}
.socialNetworkLink{
    margin-top: 5%;
}
.socialNetworkFacebook{
    display: flex;
   
}
.socialNetworkFacebookDescription{
    margin-left: 3%;
    line-height: 25px;
    color:#595959;
}
.socialNetworkTwitter{
    display: flex;
    margin-top: 3%;
}
.socialNetworkTwitterDescription{
    margin-left: 3%;
    line-height: 25px;
    color:#595959;
}
.socialNetworkLinkedin{
    display: flex;
    margin-top: 3%;
}
.socialNetworkLinkedinDescription{
    margin-left: 3%;
    line-height: 25px;
    color:#595959;
}
.footerInfo{
    background-color: #424242;
    display: flex;
}
.aboutLander{
    margin-top: 3%;
    margin-left: 5%;
    
}
.help{
    margin-top: 3%;
    margin-left: 3%;
}
.resources{
    margin-top: 3%;
    margin-left: 3%;
}
.landingPages{
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 3%;
}
.commercial{
    margin-left: 3%;
    margin-top: 3%;
}
.tryForFree{
    margin-top: 3%;
}
#aside{
    color: #c28269;
}
a{
    color: #8a8a8a;
    text-decoration: none;
}
.icon{
    margin-left: 23%;
    width: 150%;
    margin-top: 5%;
}
.tryForFree{
    margin-left: 5%;
    line-height: 25px;
}
.buttonCreate{
    background-color: #082134;
    color: white;
    border-style:solid;
    border-color:#082134;
    border-radius: 10px;
    width: 70%;
    height: 25%;
    margin-top:5%;
    font-size: 12px;
    font-weight: bold;
}
.buttonCreate:hover{
    background-color:white;
    color:#082134
}
.endPage{
    background-color: #363636;
    padding: 1%;
}
.finalText{
    font-size: 16px;
    margin-left: 6.5%;
    color: #969696;
}
li{
    color:white;
    list-style: none;
    line-height: 25px;
}
.tryLander{
    color:white;
    margin-bottom: 2%;
    line-height: 25px;
}
.stayTuned{
    color:white;
    margin-left: 28%;
    margin-top: 10%;
}
#linkTitle{
    margin-bottom: 3%;
}
#inputFat{
    height: 35%;
}
#navLink{
    color:white;
}
@media (max-width: 700px){
    .navBar{
        display: grid;
    }
    .navBarLogo{
        width: 50%;
        margin-left:28%;
    }
    .navBarLink{
        margin-top:5%;
        margin-left:2%;
    }
    .navBarLinkParent{
    width: 100%;
    margin: 0.1%;
    }
    .navBarButtonParent{
        width: 100%;
        margin-top:10%;
    }
    .buttonFreeTry{
        margin-left:10%;
        width: 29%;
    }
    .bodyPage{
        display:grid;
    }
    .sectionLeft{
        margin-top: 5%;
    }
    .input{
        width: 90%;
    }
    .submit{
        margin-left:33%;
    }
    .sectionRight{
        margin-top:90%;
        width: 90%;
        margin-left:10%;
    }
    .facebookLogo{
        height: 100%;

    }
    .twitterLogo{
        height: 100%;
    }
    .linkedinLogo{
        height: 100%;
    }
    .footerInfo{
        display: grid;
    }
    
    .buttonCreate{
        width: 50%;
        margin-bottom: 5%;
           
    }
    .tryForFree{
        margin-left:13%;
    }
    .aboutLander{
        margin-left:3%
    }
}